.admin-searcharea {
    margin: 10px;
}

.form-inline .form-control,
.form-inline .control-label,
.form-inline .form-group {
    display: inline-block;
    width: auto;
    margin-bottom: 0;
    vertical-align: middle;
}